[submodule "snippets"]
	path = snippets
	url = https://github.com/asux/snipmate-snippets.git
  ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
